### DEFRA API
In this Jupyter notebook we will use DEFRA API to retrieve the latest measuremnets from all floow-monitoring stations.

In [1]:
import requests     # HTTP library
import pandas as pd # data analysis library

In [2]:
# DEFRA flood monitoring endpoint
API_endpoint = "https://environment.data.gov.uk/flood-monitoring/data/readings?latest"

In [3]:
# pull the data from the API
response = requests.get(API_endpoint)

In [4]:
# count number of rainfall stations
print("Number of stations:", len(response.json()["items"]))

Number of stations: 4937

In [5]:
# extract the data from the API response
data = response.json()["items"]
# turn into pandas data frame
df = pd.DataFrame(data)

In [6]:
df.head(5)

,@id,dateTime,measure,value
0,http://environment.data.gov.uk/flood-monitorin...,2022-02-28T04:30:00Z,http://environment.data.gov.uk/flood-monitorin...,0.028
1,http://environment.data.gov.uk/flood-monitorin...,2022-02-28T04:30:00Z,http://environment.data.gov.uk/flood-monitorin...,0.011
2,http://environment.data.gov.uk/flood-monitorin...,2022-02-28T04:30:00Z,http://environment.data.gov.uk/flood-monitorin...,0.017
3,http://environment.data.gov.uk/flood-monitorin...,2022-03-04T14:15:00Z,http://environment.data.gov.uk/flood-monitorin...,0.389
4,http://environment.data.gov.uk/flood-monitorin...,2022-02-24T12:00:00Z,http://environment.data.gov.uk/flood-monitorin...,0.587

In [7]:
df.describe()

             value
count  4937.000000
mean     11.451906
std     217.236470
min     -34.000000
25%       0.041000
50%       0.317000
75%       1.346000
max    9477.000000